#out things
out

#build of stanix kernel
stanix.elf

#images build
stanix.iso
stanix.hdd
OVMF-img.bin


#ramdisk
initrd.tar
initrd/bin/*
initrd/mod/*
initrd/lib/*
initrd/include/*

#default sysroot
sysroot

#build toolchain
toolchain
add-to-path.sh

#config
config.mk

#compiled modules
*.ko

#objects files
*.o
#dump
*.dump