[submodule "libraries/libterm"]
	path = libraries/libterm
	url = https://github.com/tayoky/libterm
[submodule "libraries/libtgui"]
	path = libraries/libtgui
	url = https://github.com/tayoky/tgui
[submodule "userspace/tgui-apps"]
	path = userspace/tgui-apps
	url = https://github.com/tayoky/tgui-apps
