#out things
out/boot/limine/*.conf

#build of stanix kernel
stanix.elf

#images build
FOS25.*

#limine build
limine-bios.sys
BOOTIA32.EFI
BOOTX64.EFI
out/boot/limine/limine-bios-cd.bin
out/boot/limine/limine-uefi-cd.bin

#ramdisk
initrd.tar
initrd/bin/*

#defualt sysroot
sysroot