[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v8.x-binary
[submodule "tlibc"]
	path = tlibc
	url = https://github.com/tayoky/tlibc.git
[submodule "ports"]
	path = ports
	url = https://github.com/tayoky/ports
[submodule "libraries/libterm"]
	path = libraries/libterm
	url = https://github.com/tayoky/libterm
