# out directory
out

# build of stanix kernel
stanix.elf

# images build
stanix.iso
stanix.hdd
OVMF-img.bin

# initial ramdisk
initrd.tar
initrd/bin/
initrd/lib/
initrd/include/
initrd/usr/
initrd/share/
initrd/*-*

# default sysroot
sysroot

# built toolchain
toolchain

# config
config.mk
tconf
kernel/Makefile

# compiled modules
*.ko

# objects files
build
*.o

# dumps/flamegraph
*.dump
flamegraph
flamegraph.*
flamegraph_collapsed.txt
